.navbar {
    margin-bottom: 0;
    background-color: #001a33;
    padding: 10px;
}

.jumbotron img {
    height: 200px;
}

i {
    font-size: 30px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    font-weight: bold;
}

.jumbotron {
    background-color: lightseagreen;
    color: white;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: bold;
}

.line {
  width: 80px;
  height: 0;
  border: 2px solid white;
  margin-bottom: 11px;
  display:inline-block;
}

.star-top-bottom {
    padding-top: 100px;
    padding-bottom: 50px;
}

.portfolio {
    color: #2c3e50;
    font-weight: bold;
    font-size: 50px;
}

#star {
    color: #2c3e50;
}

.color-blue {
    border: 2px solid #2c3e50;
}

.sfondo {
    background-image: url(img/cabin.png);
    background-size: contain;
}

.img-higher {
    margin-top: 30px;
}

.img-lower {
    margin-top: 30px;
}

.image {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.bg-blue {
    background-color: #1abc9c;
}

.text-about {
    font-size: 18px;
}

.btn {
    border: 1px solid white;
    width: 80%;
    height: 60px;
    background-color: #1abc9c;
    color: white
}

.btn:hover {
    background-color: white
}

.fa-download {
    padding-right: 10px;
}

.fa-download::before, .btn {
    content: '\f019';
    font-size: 20px;
}

.contact-me {
    margin-bottom: 50px;
}

.form-control {
    border: 0;
    height: 70px;
}

.message {
    height: 150px;
}

#btn-submit {
    width: 15%;
    height: 50px;
    float:left;
    background-color: #1abc9c;
    color:white;
}

footer {
    background-color: #2c3e50;
    color: white;
}

footer .h3 {
    font-weight: bold;
}

.social li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid black
}

.location {
    padding: 0 30px;
}

.location p:last-child, .about-freelancer p:last-child {
    font-size: 20px;
    font-weight: 300;
}


.btn-social {
    border: 2px solid white;
    background-color: #2c3e50;
    padding: 4%;
    border-radius: 50%;
    width: 50px;
    margin-right: 5px;
}

.footer-lower {
    background-color: #1a252f;
    padding: 20px;
}
