.navbar {
    margin-bottom: 0;
    background-color: #001a33;
    padding: 10px;
}

.jumbotron {
    padding-top: 150px;
}

.jumbotron img {
    height: 200px;
}

i {
    font-size: 30px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    font-weight: bold;
}

.jumbotron {
    background-color: #1abc9c;
    color: white;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: bold;
}

.white-star-padding {
    padding-bottom: 50px;
    padding-top: 30px;
}

.blue-star-padding {
    padding-bottom: 50px;
    padding-top: 30px;
}

.line {
  width: 80px;
  height: 0;
  border: 2px solid white;
  margin-bottom: 11px;
  display:inline-block;

}

.star-top-bottom {
    padding-top: 100px;
    padding-bottom: 50px;
}

.text-blue, .text-white {
    color: #2c3e50;
    font-weight: bold;
    font-size: 50px;
}

.text-white {
    color:white;
}

.star {
    color: #2c3e50;
}

.color-blue {
    border: 2px solid #2c3e50;
}

.sfondo {
    background-image: url(img/cabin.png);
    background-size: contain;
}

.img-margin {
    margin-top: 30px;
}

.image {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.bg-blue {
    background-color: #1abc9c;
}

.color-white {
    border: 2px solid white;
}

#star-white {
    color: white;
}

.text-about {
    font-size: 18px;
}

.free-download {
    padding-top: 30px;
}

.btn {
    border: 1px solid white;
    height: 60px;
    background-color: #1abc9c;
    color: white;
    border-radius: 10px;
}

.btn:hover {
    background-color: white
}

.fa-download {
    padding-right: 10px;
}

.fa-download::before, .btn {
    content: '\f019';
    font-size: 20px;
}

.contact-me {
    margin-bottom: 50px;
}

.form-control {
    border: 0;
    height: 70px;
    font-size: 25px;
    color: #495057;
    border-bottom: 1px solid #e9ecef;
}

.message {
    height: 150px;
}

#btn-submit {
    height: 60px;
    float:left;
    background-color: #1abc9c;
    color:white;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#btn-submit:hover {
    background-color: #159a80;
    border-color: #148f77;
}

footer {
    background-color: #2c3e50;
    color: white;
}

footer .h3 {
    font-weight: bold;
}

.social li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid black
}

.padding-bottom {
    padding-bottom: 50px;
}

.location p:last-child, .about-freelancer p:last-child {
    font-size: 20px;
    font-weight: 300;
}

.btn-social {
    border: 2px solid white;
    background-color: #2c3e50;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    margin-right: 5px;
}

.btn-social:hover {
    background-color: white;
    color: #2c3e50;
}

.green-link {
    color: #1abc9c;
    text-decoration: none;
}

.green-link:hover {
    color: #117964;
    text-decoration: underline;
}

.footer-lower {
    background-color: #1a252f;
    padding: 20px;
}
